				<nav class="col-sm-2 global-nav" style="background-color: grey">
					<div class="col-xs-3 link"><a href="/cinema" style="background-image: url('/img/CINEMA.png');"></a></div>
					<div class="col-xs-3 link"><a href="/studio" style="background-image: url('/img/STUDIO.png');"></a></div>
					<div class="col-xs-3 link"><a href="/library" style="background-image: url('/img/LIBRARY.png');"></a></div>
					<div class="col-xs-3 link"><a href="/surgery" style="background-image: url('/img/SURGERY.png');"></a></div>
				</nav>
