				<div class="outer-global-nav-container" style="background-color: rgba(0,0,0,.25);">
					<nav class="container global-nav">
						<div class="col-xs-3 link"><a href="/cinema" style="background-image: url('/img/CINEMA.png');"></a></div>
						<div class="col-xs-3 link"><a href="/studio" style="background-image: url('/img/STUDIO.png');"></a></div>
						<div class="col-xs-3 link"><a href="/library" style="background-image: url('/img/LIBRARY.png');"></a></div>
						<div class="col-xs-3 link"><a href="/surgery" style="background-image: url('/img/SURGERY.png');"></a></div>
					</nav>
				</div>
