		<div id="imageView" class="modal fade" role="dialog">
			<div class="close-view" data-dismiss="modal" style="position: absolute; right: 0; padding: 10px;">
				<div class="hamburger hamburger--squeeze is-active">
					<span class="hamburger-box"><span class="hamburger-inner"></span></span>
				</div>
			</div>
			<div class="container" style="padding: 50px; height: 100%;">
				<div class="image" style="height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
			</div>
		</div>
