<%_ include partials/header _%>
		<%_ include partials/news_banner _%>
		<section>
			<%_ include partials/global_nav _%>
			<div class="row">
				<div class="col-sm-4 col link" id="pp"><div class="centre">Perfect People</div></div>
				<div class="col-sm-4 col link" id="grd"><div class="centre">Gospel Rap Documentary</div></div>
				<div class="col-sm-4 col link" id="sid"><div class="centre">Say I Do</div></div>
			</div>
			<div class="row">
				<div class="col-sm-4 col link" id="ato1c"><div class="centre">A Tale of 1 Christians</div></div>
				<div class="col-sm-4 col link" id="lll"><div class="centre">Love Life Loyalty</div></div>
				<div class="col-sm-4 col link" id="twtoa"><div class="centre">3 Ways to Overcome Addiction</div></div>
			</div>
		</section>
<%_ include partials/footer _%>