<%_ include partials/header _%>
		<section class="index">
			<div class="content centre">
				<p><img src="/img/ROOM 113.png"></p>
				<a class="gap scrolldown">
					Click to see more<br>
					<i class="fas fa-angle-down animate down"></i>
				</a>
			</div>
		</section>
		<section class="menu">
			<div class="row">
				<div class="col-sm-6 col link" id="cinema"><img class="centre" src="/img/CINEMA.png"></div>
				<div class="col-sm-6 col link" id="studio"><img class="centre" src="/img/STUDIO.png"></div>
			</div>
			<div class="row">
				<div class="col-sm-6 col link" id="library"><img class="centre" src="/img/LIBRARY.png"></div>
				<div class="col-sm-6 col link" id="surgery"><img class="centre" src="/img/SURGERY.png"></div>
			</div>
		</section>
<%_ include partials/footer _%>