<%_ include partials/header _%>
		<div class="container">
			<section class="index homescreen">
				<div class="content centre">
					<div class="col-xs-7 door left" style="background-color: rgb(25, 24, 24)">
						<img src="/img/ROOM 113.png" style="right: 0px; transform: translate(92px, -50%);">
					</div>
					<div class="col-xs-5 door right" style="background-color: white">
						<img src="/img/ROOM 113.png" style="left: 0px; transform: translate(-150px, -50%);">
					</div>
				</div>
				<div id="key"></div>
			</section>
			<section class="index menu">
				<div class="row">
					<div class="col-sm-6 col link" id="cinema"><a class="centre" href="/cinema"><img src="/img/CINEMA.png"></a></div>
					<div class="col-sm-6 col link" id="studio"><a class="centre" href="/studio"><img src="/img/STUDIO.png"></a></div>
				</div>
				<div class="row">
					<div class="col-sm-6 col link" id="library"><a class="centre" href="/library"><img src="/img/LIBRARY.png"></a></div>
					<div class="col-sm-6 col link" id="surgery"><a class="centre" href="/surgery"><img src="/img/SURGERY.png"></a></div>
				</div>
			</section>
		</div>
<%_ include partials/footer _%>