<%_ include partials/header _%>
		<section class="index homescreen">
			<div class="content centre">
				<p><img src="/img/ROOM 113.png"></p>
				<a class="gap scrolldown">
					Click to see more<br>
					<i class="fas fa-angle-down animate down"></i>
				</a>
			</div>
		</section>
		<section class="index menu">
			<div class="row">
				<div class="col-sm-6 col link" id="cinema"><a class="centre" href="/cinema"><img src="/img/CINEMA.png"></a></div>
				<div class="col-sm-6 col link" id="studio"><a class="centre" href="/studio"><img src="/img/STUDIO.png"></a></div>
			</div>
			<div class="row">
				<div class="col-sm-6 col link" id="library"><a class="centre" href="/library"><img src="/img/LIBRARY.png"></a></div>
				<div class="col-sm-6 col link" id="surgery"><a class="centre" href="/surgery"><img src="/img/SURGERY.png"></a></div>
			</div>
		</section>
<%_ include partials/footer _%>