<%_ include partials/header _%>
		<section class="index homescreen">
			<div class="content centre">
				<p><img src="/img/ROOM 113.png"></p>
				<a class="gap scrolldown">
					Click to see more<br>
					<i class="fas fa-angle-down animate down"></i>
				</a>
			</div>
		</section>
		<section class="index menu">
			<div class="row">
				<a href="/cinema"><div class="col-sm-6 col link" id="cinema"><img class="centre" src="/img/CINEMA.png"></div></a>
				<a href="/studio"><div class="col-sm-6 col link" id="studio"><img class="centre" src="/img/STUDIO.png"></div></a>
			</div>
			<div class="row">
				<a href="/library"><div class="col-sm-6 col link" id="library"><img class="centre" src="/img/LIBRARY.png"></div></a>
				<a href="/surgery"><div class="col-sm-6 col link" id="surgery"><img class="centre" src="/img/SURGERY.png"></div></a>
			</div>
		</section>
<%_ include partials/footer _%>