<%_ include partials/header _%>
	<%_ include partials/news_banner _%>
	<section>
		<%_ include partials/global_nav _%>
		<nav class="col-sm-2 sidebar-nav col dt-view">
			<div class="inner-nav">
				<div class="row link" id="prayer">Prayer Requests</div>
				<div class="row link" id="advice">Advice</div>
				<div class="row link" id="counselling">Counselling</div>
			</div>
		</nav>
		<main class="col">
			<div class="surgery-body">
			</div>
		</main>
	</section>
<%_ include partials/footer _%>