.animate.up, .animate.down {
	position: relative;
	transition: .5s;
}

.up {
	animation: up 1s infinite;
}

.down {
	animation: down 1s infinite;
}

@keyframes up {
	0% { opacity: 0; top: 0px }
	50% { opacity: 1 }
	100% { opacity: 0; top: -20px }
}

@keyframes down {
	0% { opacity: 0; top: 0px }
	50% { opacity: 1 }
	100% { opacity: 0; top: 20px }
}

#toTop {
	position: fixed;
	display: none;
	left: 50%; bottom: 5px;
	padding: 1em 1em 0;
	font-size: 1.5em;
	text-align: center;
	transform: translateX(-50%);
	border-radius: 100%;
	cursor: pointer;
	z-index: 1000;
}

header .inner-header > div {
	padding: 1em;
}

header .inner-header > .menu-icon {
	font-size: 1.2em;
	cursor: pointer;
}

header .inner-header > .menu-icon > div {
	-webkit-transform-origin: top left;
	-webkit-transform: scale(.7);
	transform-origin: top left;
	transform: scale(.7);
}

header .header-news-banner {
	height: 100px;
	margin-bottom: 1.2em;
}

header .header-news-banner .arrow {
	margin-top: 0;
	transform: translateY(-50%);
}

header .logo a {
	display: block;
	height: 45px;
	background-image: url('/img/ROOM 113.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

header .logo img {
	height: 100%;
}

@media (min-width: 768px) {
	header > div[class*='col'] {
		height: 100%;
		padding: 0;
	}

	header .logo img {
		width: 100%;
		height: auto;
	}

	header .inner-header > .menu-icon > div {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

section, .inner-body {
	width: 100%;
}

.index {
	height: 100vh;
}

.index.homescreen {
	position: absolute;
	top: 0; left: 0;
	z-index: 100;
}

.index.homescreen .content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.index.homescreen .door {
	height: 100%;
	transition: 1s;
	overflow: hidden;
}

.index.homescreen .door img {
	position: absolute;
	top: 50%;
}

.index.homescreen #key {
	position: absolute;
	right: 41.667vw; top: 50vh;
	-webkit-transform: translate(-100%, 85px);
	transform: translate(-100%, 85px);
	width: 50px;
	height: 1.5em;
	-webkit-filter: invert(1);
	filter: invert(1);
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/img/key.png');
	transition: .2s;
	-webkit-animation-delay: 2s;
	-webkit-animation: enter 2s 1 backwards;
	animation-delay: 2s;
	animation: enter 2s 1 backwards;
}

.index.homescreen #key.turn {
	-webkit-animation: turn .25s 2 alternate;
	animation: turn .25s 2 alternate;
}

@-webkit-keyframes enter { from { right: 100vw } }
@-webkit-keyframes turn { to { -webkit-transform: translate(-100%, 85px) rotateX(60deg); } }
@keyframes enter { from { right: 100vw } }
@keyframes turn { to { transform: translate(-100%, 85px) rotateX(60deg); } }

.index.homescreen #key:hover {
	transform: translate(-100%, 85px) scale(1.2);
}

.index.homescreen img,
.menu .link img {
	height: 5em;
}

.index.menu a {
	position: absolute;
}

.index.menu a img {
	display: none;
}

.menu .row {
	height: auto;
}

@media (min-width: 768px) {
	.menu .row {
		height: 50%;
	}
}

.menu .row .link {
	height: 25vh;
}

@media (min-width: 768px) {
	.menu .row .link {
		height: 100%;
	}
}

.header-news-banner .carousel {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 0 1.2em;}

.admin.page section {
	padding: 2em 20px;
}

.admin.page .form-container {
	max-width: 700px;
}

.admin.page a {
	transition: none;
}

.admin.page .tabs li {
	width: 33.333%;
	margin: 0;
	text-align: center;
}

.admin.page .tabs > li > a {
	border-radius: 0;
}

.admin.page .tabs > li.active > a,
.admin.page .tabs > li > a:focus,
.admin.page .tabs > li > a:hover {
	border-bottom: 2px solid white;
	background-color: transparent;
}

.admin.page .details {
	margin-bottom: 1em;
}

.admin.page #posts .row:not(:first-child) {
	margin-top: 1em
}

.admin.page #posts p {
	text-align: right;
}

.admin.page #posts .edit-form {
	display: none;
}

.admin.page .post .row > * {
	margin-bottom: 10px;
}

.admin.page .post .title {
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin.page .post .buttons {
	text-align: right;
}

.cinema.page section,
.cinema.page section .row {
	height: auto;
}

.cinema.page section .row .col {
	padding: 40px 0;
}

.cinema.page section .row .col .centre {
	position: static;
	top: 0; left: 0;
	transform: none;
	text-align: center;
}

@media (min-width: 768px) {
	.cinema.page section {
		height: calc(100vh - (100vh / 6));
	}

	.cinema.page section .row {
		height: 50%;
	}

	.cinema.page section .row .col {
		height: 100%;
		padding: 0;
	}

	.cinema.page section .row .col .centre {
		position: relative;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}

.page:not(.home) section,
.page:not(.home) main {
	min-height: 100vh;
}

.page:not(.home) main.col {
	left: 0;
	right: 0;
}

.library.page .blog-container {
	overflow: auto;
	height: 100%;
}

.page:not(.home) .col {
	height: auto;
	padding: 1.5em;
}

nav {
	display: none;
	text-align: center;
}

nav.sidebar-nav {
	background-color: rgba(0,0,0,.25);
}

nav.sidebar-nav .link:not(:last-child) {
	padding-bottom: 1.5em;
}

nav.sidebar-nav .inner-nav {
	white-space: nowrap;
}

nav.sidebar-nav .inner-nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 1.5em;
	transition: .5s background-color;
	background-color: rgba(0,0,0,.25)
}

nav.global-nav .link {
	padding: .5em .5em!important;
}

nav.global-nav .link a {
	display: block;
	height: 45px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	nav {
		text-align: left;
	}

	nav.global-nav {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	nav.sidebar-nav {
		min-height: 100vh;
		background-color: transparent;
	}
}

.library.page .blog #back {
	cursor: pointer;
	position: absolute;
	float: left;
}

.library.page .blog #back .left-arrow {
	display: inline-block;
	padding: .25em;
	border: 2px solid transparent;
	border-left-color: white;
	border-bottom-color: white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.library.page .blog .post {
	padding-bottom: 1.5em;
	transition: .5s;
}

.library.page .blog.single-post .post {
	top: 2em;
}

.library.page .blog .post .title-group {
	text-align: center;
	margin-bottom: 2em!important;
}

.library.page .blog .post .main-title {
	font-size: 1.5em;
	font-weight: bold;
}

.library.page .blog .post .sub-title {
	font-size: .8em;
	margin-bottom: 0;
}

.library.page .blog .post .post-inner {
	background-color: rgba(0,0,0,.25);
	padding: 20px;
	border-radius: 7px;
}

.library.page .blog .post .post-media {
	height: 300px;
}

.library.page .blog .post .post-media.single {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.library.page .blog .post .post-media + .post-textbody {
	padding-top: .5em
}

.library.page .blog .post .post-media .loader {
	position: absolute;
	width: 50px; height: 50px;
	border: 5px solid rgba(0,0,0,.5);
	border-top-color: white;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) }
	100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) }
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg) }
	100% { transform: translate(-50%, -50%) rotate(360deg) }
}

@media (min-width: 768px) {
	.library.page .blog.single-post .post {
		top: 0;
	}

	.library.page .blog .post:nth-child(odd) {
		padding-right: 10px;
	}

	.library.page .blog .post .post-media + .post-textbody {
		padding-top: 1.5em
	}

	.library.page .blog .post .delete-post {
		position: absolute;
		right: 10px;
		padding: 20px;
		text-align: left;
	}

	.studio.page section .col {
		min-height: 100vh;
	}
}

.studio-body .content-row {
	margin-bottom: 1em;
}

.studio-body audio {
	width: 100%;
}

.studio-body iframe.yt {
	width: 100%;
	height: 350px;
}

@media (min-width: 700px) {
	.studio-body iframe.yt {
		width: 700px;
	}
}

@media (min-width: 768px) {
	.studio-body audio {
		width: 300px;
	}
}