.animate.up, .animate.down {
	position: relative;
	transition: .5s;
}

.up {
	animation: up 1s infinite;
}

.down {
	animation: down 1s infinite;
}

@keyframes up {
	0% { opacity: 0; top: 0px }
	50% { opacity: 1 }
	100% { opacity: 0; top: -20px }
}

@keyframes down {
	0% { opacity: 0; top: 0px }
	50% { opacity: 1 }
	100% { opacity: 0; top: 20px }
}

#toTop {
	position: fixed;
	display: none;
	left: 50%; bottom: 5px;
	padding: 1em 1em 0;
	font-size: 1.5em;
	text-align: center;
	transform: translateX(-50%);
	border-radius: 100%;
	cursor: pointer;
	z-index: 1000;
}

header .header-menu {
	height: 50px;
}

header .header-menu > div {
	height: 100%;
	padding: .5em;
}

header .header-menu-icon {
	text-align: right;
	color: black;
	font-size: 1.2em;
}

header .header-banner {
	height: 100px;
}

header .header-banner .glyphicon {
	margin-top: 0;
	transform: translateY(-50%);
}

header .logo a {
	display: block;
	height: 100%;
	background-image: url('/img/ROOM 113.png');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}

header .logo img {
	height: 100%;
}

@media (min-width: 768px) {
	header {
		height: 100px;
	}

	header > div[class*='col'] {
		height: 100%;
		padding: 0;
	}

	header .logo,
	header .logo img {
		width: 100%;
	}

	header .logo {
		padding: .5em 1.5em!important;
	}

	header .logo img {
		height: auto;
	}
}

.inner-body,
section {
	width: 100%;
}

.index {
	height: 100vh;
}

.index.homescreen .content {
	position: absolute;
}

.index.homescreen .content > * {
	display: block;
	text-align: center;
}

.index.homescreen .content img,
.menu .link img {
	height: 5em;
}

.index.menu a {
	position: absolute;
}

.menu .row {
	height: auto;
}

@media (min-width: 768px) {
	.menu .row {
		height: 50%;
	}
}

.menu .row .link {
	height: 25vh;
}

@media (min-width: 768px) {
	.menu .row .link {
		height: 100%;
	}
}

.header-banner .carousel {
	height: 100%;
	background-color: white;
}

.header-banner .carousel-control {
	opacity: 1;
}

.header-banner .carousel-control.left {
	background-image: linear-gradient(to right, #aaa, transparent);
}

.header-banner .carousel-control.right {
	background-image: linear-gradient(to left, #aaa, transparent);
}

.admin.page .inner-body {
	padding: 2em 20px;
}

.admin.page .form-container {
	max-width: 700px;
}

.admin.page a {
	transition: none;
}

.admin.page .tabs li {
	width: 33.333%;
	margin: 0;
	text-align: center;
}

.admin.page .tabs > li > a {
	border-radius: 0;
}

.admin.page .tabs > li.active > a,
.admin.page .tabs > li > a:focus,
.admin.page .tabs > li > a:hover {
	border-bottom: 2px solid white;
	background-color: transparent;
}

.admin.page .details {
	margin-bottom: 1em;
}

.admin.page #posts .row:not(:first-child) {
	margin-top: 1em
}

.admin.page #posts p {
	text-align: right;
}

.admin.page #posts .edit-form {
	display: none;
}

.cinema.page section,
.cinema.page section .row {
	height: auto;
}

.cinema.page section .row .col {
	padding: 40px 0;
}

.cinema.page section .row .col .centre {
	position: static;
	top: 0; left: 0;
	transform: none;
	text-align: center;
}

@media (min-width: 768px) {
	.cinema.page section {
		height: calc(100vh - (100vh / 6));
	}

	.cinema.page section .row {
		height: 50%;
	}

	.cinema.page section .row .col {
		height: 100%;
		padding: 0;
	}

	.cinema.page section .row .col .centre {
		position: relative;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}

.page:not(.home) section,
.page:not(.home) main {
	min-height: 100vh;
}

.library.page .blog-container {
	overflow: auto;
	height: 100%;
}

.page:not(.home) .col {
	height: auto;
	padding: 1.5em;
}

.page:not(.home) nav .link:not(:last-child) {
	padding-bottom: 1.5em;
}

nav {
	text-align: center;
}

nav.global-nav {
	display: none;
	height: 3em;
}

nav.global-nav .link {
	height: 100%;
	padding: .5em .5em!important;
}

nav.global-nav .link a {
	display: block;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	nav {
		text-align: left;
	}

	nav.global-nav {
		position: fixed;
		top: 0;
		height: auto;
		padding: 0 1.5em;
		z-index: 1000;
	}

	nav.global-nav .link {
		width: 100%;
		height: 100px;
		padding: .5em 0!important;
	}
}

.library.page .blog .post {
	padding-bottom: 3em;
}

.library.page .blog .post > .row {
	margin-bottom: .5em;
}

.library.page .blog .post .post-main-img {
	height: auto;
}

.library.page .blog .post .post-main-img img {
	height: auto;
	width: 100%;
}

@media (min-width: 768px) {
	.cinema.page nav,
	.library.page nav,
	.studio.page nav,
	.surgery.page nav,
	.studio.page section .col {
		min-height: 100vh;
	}

	.library.page .blog .post .post-main-img {
		height: 400px;
	}

	.library.page .blog .post .post-main-img img {
		width: auto;
		height: 100%;
	}

	.library.page .blog .post .delete-post {
		position: absolute;
		right: 10px;
		padding: 20px;
		text-align: left;
	}
}

.studio-body audio {
	width: 100%;
}

.studio-body iframe.yt {
	width: 100%;
	height: 350px;
}

@media (min-width: 700px) {
	.studio-body iframe.yt {
		width: 700px;
	}
}

@media (min-width: 768px) {
	.studio-body audio {
		width: 300px;
	}
}